openapi: 3.1.0
info:
  title: OnChainRisk API
  description: |
    **[⬇ Download OpenAPI spec (YAML)](/openapi.yaml)** — for codegen tools (openapi-generator, orval, etc.)

    ---

    Blockchain forensics and wallet risk analysis API. Analyze addresses, trace transactions, detect honeypot tokens, and investigate blockchain activity across 23 networks.

    ## Authentication

    Authenticate with an API key. Create keys in [API Keys](https://onchainrisk.io/dashboard/api-keys) (requires Pro plan or above).

    Send your key in the `Authorization` header:
    ```
    Authorization: Bearer ocr_live_...
    ```

    ## Rate Limits

    | Plan | Checks/month | AI Investigations/month | API Access |
    |------|-------------|------------------------|------------|
    | Free | 10/day | 3 | No |
    | Pro | 1,000 | 50 | Yes (10 req/s) |
    | Business | 5,000 | 200 | Yes (50 req/s) |
    | Enterprise | Unlimited | Unlimited | Yes (custom) |

    Cost per request:
    - `POST /api/v1/check` — 1 credit
    - `POST /api/v1/check/deep` — 1 credit
    - `POST /api/v1/token/check` — 1 credit (charged on save, not preview)
    - `POST /api/v1/block/analyze` — 1 credit (auto-saves report)
    - `POST /api/v1/multichain/scan` — **5 credits** (auto-saves report)

    Client-side idempotency is not currently supported. Repeated or
    concurrent successful requests may be billed separately. Avoid automatic
    retries unless the previous request failed before receiving a response.

    Rate limit headers are included in check responses:
    - `X-RateLimit-Limit` — Monthly limit
    - `X-RateLimit-Remaining` — Remaining checks
    - `X-Credits-Remaining` — Purchased credits remaining

    ## Validation errors

    Address validation runs before any blockchain scan. On failure the Worker
    returns **HTTP 422** (not 400) with the following stable envelope:

    ```json
    {
      "success": false,
      "error": {
        "message": "Validation failed",
        "code": "VALIDATION_ERROR",
        "details": {
          "address": "Address format does not match selected network. The address looks like a tron address, but network was set to eth.",
          "errorCode": "ADDRESS_NETWORK_MISMATCH",
          "detectedFamily": "tron",
          "requestedNetwork": "eth"
        }
      }
    }
    ```

    `error.code` is always `VALIDATION_ERROR` for this class. The granular
    reason lives in `error.details.errorCode`:

    | `errorCode`                   | When                                                                             |
    |-------------------------------|----------------------------------------------------------------------------------|
    | `INVALID_ADDRESS`             | empty, wrong format, whitespace-only                                             |
    | `UNSUPPORTED_NETWORK`         | `network` not in the supported list                                              |
    | `COULD_NOT_DETECT_NETWORK`    | address format unrecognised AND `network` omitted                                |
    | `INVALID_ADDRESS_CHECKSUM`    | decode succeeded, family checksum failed (Tron / BTC-legacy / LTC-legacy). Solana decode failures surface as `INVALID_ADDRESS` because Solana is not checksum-based. |
    | `ADDRESS_NETWORK_MISMATCH`    | detected address family inconsistent with requested `network`                    |

    `detectedFamily` and `requestedNetwork` are present only when they add
    useful diagnostic context; both may be `null` or absent.

    ## Supported Networks (23)

    | Network | Code | Type |
    |---------|------|------|
    | Ethereum | `eth` | Layer 1 |
    | BNB Smart Chain | `bsc` | Layer 1 |
    | Tron | `tron` | Layer 1 |
    | Bitcoin | `btc` | Layer 1 |
    | Solana | `sol` | Layer 1 |
    | TON | `ton` | Layer 1 |
    | Litecoin | `ltc` | Layer 1 |
    | Arbitrum | `arbitrum` | Layer 2 |
    | Optimism | `optimism` | Layer 2 |
    | Base | `base` | Layer 2 |
    | Polygon | `polygon` | Layer 2 |
    | Avalanche | `avalanche` | Layer 1 |
    | Linea | `linea` | Layer 2 |
    | zkSync Era | `zksync` | Layer 2 |
    | Scroll | `scroll` | Layer 2 |
    | Celo | `celo` | Layer 1 |
    | Cronos | `cronos` | Layer 1 |
    | Fantom | `fantom` | Layer 1 |
    | Moonbeam | `moonbeam` | Parachain |
    | Polygon zkEVM | `polygon-zkevm` | Layer 2 |
    | Cosmos | `cosmos` | Layer 1 |
    | Cardano | `cardano` | Layer 1 |
    | XRP | `xrp` | Layer 1 |

    ## Credits

    When monthly quota is exhausted, purchased credits are used automatically.
    - Check credits: 1 credit = 1 address/token/block analysis
    - AI credits: 1 credit = 1 AI investigation (separate pool)
    - Multi-chain full analysis: 5 check credits
    - Graph expansion: FREE (unlimited)

  version: 2.0.0
  contact:
    name: OnChainRisk Support
    url: https://onchainrisk.io/dashboard/support
    email: admin@onchainrisk.io

servers:
  - url: https://api.onchainrisk.io
    description: Production API

tags:
  - name: Analysis
    description: Address risk analysis, token check, block analysis
  - name: Multi-Chain
    description: Multi-chain wallet scan and full analysis
  - name: Reports
    description: Saved reports CRUD and graph state
  - name: Sharing
    description: Public share tokens for reports
  - name: Saved Reports
    description: Token / block / multichain report persistence
  - name: AI Investigation
    description: AI-powered blockchain investigation agent
  - name: Watchlist
    description: Address monitoring and alerts
  - name: Graph
    description: Counterparty expansion and CSV import
  - name: MEV
    description: MEV bot stats, aggregate metrics, manual scan trigger
  - name: Labels
    description: Custom address labels + bulk import/export
  - name: Notifications
    description: Notification channel preferences (email, Telegram, webhook)
  - name: Account
    description: User profile, usage, settings, branding, layout
  - name: Billing
    description: Plan upgrades, credit purchases, payment verification, refunds
  - name: Support
    description: Support ticket creation and tracking
  - name: API Keys
    description: API key management

paths:
  # ── Analysis ──────────────────────────────────────────
  /api/v1/check:
    post:
      tags: [Analysis]
      summary: Analyze address risk
      description: |
        Submit an address for full risk analysis. Returns risk score (0-100), pattern flags, counterparties, timing analysis, cross-chain activity, and more. Network is auto-detected from address format, or specify explicitly. Costs 1 check credit.

        **Sync vs async path.** Most addresses return a fully analysed report
        in a single 200 response. Heavy addresses (very high tx count, large
        smart contracts) take the async path: the API returns 202 with a
        `reportId` and the consumer worker fills in the analysis 1–5 minutes
        later. Poll `GET /api/v1/check/status/{reportId}` until `status` flips
        from `queued` / `analyzing` to `complete` (or `failed`).

        **Idempotent retries (30-min window).** If you POST again for the
        same `(api-key, address, network)` while a previous scan is still
        in flight, the API returns the existing in-flight `reportId` with
        `deduplicated: true`. No new charge, no new queue job. Useful for
        UI re-clicks and client-side retries.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address:
                  type: string
                  description: Wallet or contract address
                  example: "0x742d35CC6634C0532925a3b844bc454e4438F44e"
                network:
                  type: string
                  description: Network code (auto-detected if omitted)
                  enum: [eth, bsc, tron, btc, ltc, sol, ton, arbitrum, optimism, base, polygon, avalanche, linea, zksync, scroll, celo, cronos, fantom, moonbeam, polygon-zkevm, cosmos, cardano, xrp]
                  example: eth
      responses:
        '200':
          description: Analysis result (sync path)
          headers:
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResult'
        '202':
          description: |
            Async path — analysis queued. Poll the report endpoint for completion.
            Two variants:
              * **queued** — first time this address was submitted in the last 30 minutes.
              * **deduplicated** — the same (key, address, network) is already in flight; the existing reportId is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncQueuedResponse'
              examples:
                queued:
                  summary: First submission, queued for analysis
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: queued
                      async: true
                deduplicated:
                  summary: Idempotent retry within 30 minutes
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: queued
                      async: true
                      deduplicated: true
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          description: Rate limit exceeded
        '503':
          description: Analysis temporarily unavailable

  /api/v1/check/{address}:
    get:
      tags: [Analysis]
      summary: Fetch cached analysis (GET)
      description: |
        Returns a cached report for the address if one exists. Does not consume your quota. To force a fresh analysis (e.g. after new transactions), set `force=true` — this will call the analyzer and count as a new check. Add `?network=eth` to specify network.

        **Smart contracts:** when the address is a deployed contract, the response includes
        `contractAnalysis` (bytecode metadata) and may include `contractInfo` (proxy/deployment
        metadata). For very high-activity contracts (`addressInfo.txCount >= 50000`) the
        analyzer returns overview-only metadata and `dataCompleteness.partialReason` is set
        to `heavy_contract_overview`.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      parameters:
        - name: address
          in: path
          required: true
          schema: { type: string }
        - name: network
          in: query
          schema: { type: string }
        - name: force
          in: query
          description: Force fresh analysis instead of returning cache. Counts as a new check.
          schema: { type: boolean }
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResult'
              examples:
                verifiedContract:
                  summary: Normal verified smart contract
                  description: |
                    Standard response for a verified contract with low transaction count.
                    `contractAnalysis` carries full bytecode metadata; `dataCompleteness` is
                    not partial.
                  value:
                    address: "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
                    network: eth
                    riskScore: 5
                    riskLevel: low
                    addressInfo:
                      type: smart_contract
                      balance: "0 ETH"
                      txCount: 412
                      firstSeen: "2020-06-09T18:43:35Z"
                      lastSeen: "2026-04-25T10:11:02Z"
                    patternFlags: []
                    contractAnalysis:
                      contractName: "FiatTokenV2_2"
                      bytecodeSize: 24576
                      compilerVersion: "v0.6.12+commit.27d51765"
                      deployer: "0x95Ba4cF87D6723ad9C0Db21737D862bE80e93911"
                      isVerified: true
                      hasSelfdestruct: false
                      hasDelegatecall: true
                      hasCreate2: false
                      similarityFlags: ["ERC20", "Upgradeable"]
                      knownSignatures: ["transfer(address,uint256)", "approve(address,uint256)", "balanceOf(address)"]
                    contractInfo:
                      deployer: "0x95Ba4cF87D6723ad9C0Db21737D862bE80e93911"
                      creationTx: "0xe7e0fe390354509cd08c9a0168536938600ddc552b3f7cb96030ebef62e75895"
                      creationBlock: 6082465
                      isProxy: true
                      implementationAddress: "0xa2327a938Febf5FEC13baCFb16Ae10EcBc4cbDCF"
                      contractName: "FiatTokenV2_2"
                    dataCompleteness:
                      reportedTxCount: 412
                      fetchedTxCount: 412
                      completenessPct: 100
                      partialReason: null
                    analysisTime: 4321
                    timestamp: "2026-04-25T10:15:00Z"
                heavyContractOverview:
                  summary: Heavy contract — overview only
                  description: |
                    Response when `addressInfo.txCount >= 50000` and the analyzer returned a
                    minimal `contractAnalysis` shape. `dataCompleteness.partialReason` is
                    `heavy_contract_overview`. `similarityFlags` and `knownSignatures` are
                    still arrays (possibly empty) — the backend normalizes the shape so the
                    consumer never has to runtime-guard.
                  value:
                    address: "0x1F98431c8aD98523631AE4a59f267346ea31F984"
                    network: eth
                    riskScore: null
                    riskLevel: low
                    addressInfo:
                      type: contract
                      balance: "0 ETH"
                      txCount: 267575
                      firstSeen: "2021-05-04T23:10:00Z"
                      lastSeen: "2026-04-25T09:55:21Z"
                    patternFlags: []
                    contractAnalysis:
                      contractName: null
                      bytecodeSize: 6177
                      compilerVersion: "v0.8.16+commit.07a7930e"
                      deployer: null
                      isVerified: true
                      hasSelfdestruct: false
                      hasDelegatecall: false
                      hasCreate2: false
                      similarityFlags: []
                      knownSignatures: []
                    dataCompleteness:
                      reportedTxCount: 267575
                      fetchedTxCount: 0
                      completenessPct: 0
                      partialReason: heavy_contract_overview
                    partialReason: heavy_contract_overview
                    analysisTime: 1820
                    timestamp: "2026-04-25T10:00:00Z"
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/v1/check/status/{reportId}:
    get:
      tags: [Analysis]
      summary: Async scan status (polling)
      description: |
        Poll the status of an async scan that POST `/api/v1/check` returned with
        `async: true`. Lightweight: returns lifecycle status + risk summary
        once complete. Does NOT consume quota. Authenticated with the same
        API key that initiated the scan.

        **Lifecycle:**
          `queued` → `analyzing` → `complete` | `failed`

        Poll every 5 seconds until status is `complete` or `failed`. Typical
        end-to-end completion is 1–5 minutes for heavy addresses.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      parameters:
        - name: reportId
          in: path
          required: true
          description: The reportId returned by POST /api/v1/check (UUID).
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Current status and (when complete) risk summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatus'
              examples:
                queued:
                  summary: Just queued
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: queued
                      phase: null
                      errorMessage: null
                      riskScore: null
                      riskLevel: null
                      queuedAt: "2026-04-26T22:27:30Z"
                      startedAt: null
                      finishedAt: null
                analyzing:
                  summary: Consumer working on it
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: analyzing
                      phase: fetching_transactions
                      errorMessage: null
                      riskScore: null
                      riskLevel: null
                      queuedAt: "2026-04-26T22:27:30Z"
                      startedAt: "2026-04-26T22:27:35Z"
                      finishedAt: null
                complete:
                  summary: Done — full result available via GET /api/v1/check/{address}
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: complete
                      phase: null
                      errorMessage: null
                      riskScore: 5
                      riskLevel: low
                      queuedAt: "2026-04-26T22:27:30Z"
                      startedAt: "2026-04-26T22:27:35Z"
                      finishedAt: "2026-04-26T22:30:12Z"
                failed:
                  summary: Scan failed — error available
                  value:
                    success: true
                    data:
                      reportId: "98958045-d736-4bc4-90ed-a717a9258738"
                      status: failed
                      phase: null
                      errorMessage: "Modal upstream timeout after 5 minutes"
                      riskScore: null
                      riskLevel: null
                      queuedAt: "2026-04-26T22:27:30Z"
                      startedAt: "2026-04-26T22:27:35Z"
                      finishedAt: "2026-04-26T22:32:35Z"
        '404':
          description: Report not found or not owned by this API key
        '401':
          description: Unauthorized

  /api/v1/check/deep:
    post:
      tags: [Analysis]
      summary: Deep analysis (peel chain detection)
      description: Trace transaction origin through intermediary wallets. Detects peel chains and fund splitting. Costs 1 check credit.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network]
              properties:
                address: { type: string }
                network: { type: string }
                reportId: { type: string, description: "Attach result to existing report" }
      responses:
        '200':
          description: Peel chain result
          content:
            application/json:
              schema:
                type: object
                properties:
                  peelChain:
                    type: array
                    items:
                      type: object
                      properties:
                        address: { type: string }
                        label: { type: string, nullable: true }
                        riskLevel: { type: string }
                        depth: { type: integer }
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/v1/token/check:
    post:
      tags: [Analysis]
      summary: Token security check (honeypot detection)
      description: |
        Analyze an ERC-20 token contract for honeypot risk, sell tax, blacklist functions, ownership concentration, and liquidity. Simulates buy/sell transactions. Costs 1 check credit.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network]
              properties:
                address: { type: string, description: "Token contract address" }
                network: { type: string, enum: [eth, bsc, arbitrum, optimism, base, polygon, avalanche, linea, zksync, scroll, celo, cronos, fantom, moonbeam, polygon-zkevm] }
      responses:
        '200':
          description: Token security analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  sections:
                    type: object
                    description: "Security checks: ownership, mint, fee, blacklist, proxy, liquidity, holders"
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/v1/token/check/stream:
    post:
      tags: [Analysis]
      summary: Token check (SSE streaming)
      description: Same as `/api/v1/token/check` but returns results progressively via Server-Sent Events as each section completes.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network]
              properties:
                address: { type: string }
                network: { type: string }
      responses:
        '200':
          description: SSE stream of section results
          content:
            text/event-stream: {}
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /api/v1/block/analyze:
    post:
      tags: [Analysis]
      summary: Block MEV analysis
      description: |
        Analyze all transactions in a block for MEV patterns: sandwich attacks, arbitrage, flash loans, JIT liquidity, and liquidations. Supports 10 EVM networks. **Costs 1 credit.** Auto-saves the block report; the response includes `reportPublicId` for retrieval via `GET /api/v1/block/reports/{id}`.

        Client-side idempotency is not currently supported. Repeated or concurrent successful requests may be billed separately.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockNumber, network]
              properties:
                blockNumber: { type: integer, minimum: 0 }
                network: { type: string, enum: [eth, bsc, arbitrum, optimism, base, polygon, avalanche, scroll, linea, zksync] }
      responses:
        '200':
          description: Block analysis with MEV detection (auto-saved as a block report)
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportId: { type: string, description: 'Stable UUID for the auto-saved block report. Same value as `reportPublicId`.' }
                  reportPublicId: { type: string, description: 'Stable UUID for the auto-saved block report.' }
                  cached: { type: boolean, description: 'True when the response was served from a 24h cache; the report still exists and is linked here.' }
                  blockNumber: { type: integer }
                  timestamp: { type: integer }
                  sandwiches: { type: array, items: { type: object } }
                  arbitrages: { type: array, items: { type: object } }

  # /api/v1/check/status/{id} — superseded by /api/v1/check/status/{reportId}
  # above (PR #48 / #48.1). Single canonical path; removed the stale
  # duplicate that used `processing` instead of `analyzing` in the enum.

  # Internal endpoints intentionally NOT documented here:
  # - /api/analyze/estimate — Modal preflight called by Worker internally; Worker
  #   does not route this path at api.onchainrisk.io (direct external calls 404).
  # - /api/v1/telemetry/archetype — dashboard client telemetry for AI archetype
  #   learning loop; not part of the public integration API.
  # - /api/admin/* — internal surface
  # - /api/notifications/telegram/callback — Telegram server-to-server webhook

  # ── Multi-Chain ───────────────────────────────────────
  /api/v1/multichain/scan:
    post:
      tags: [Multi-Chain]
      summary: Quick multi-chain scan
      description: |
        Scan one address across 15 EVM networks in parallel. Returns balances, transaction counts, and active chains. **Costs 5 credits.** Auto-saves the multi-chain report; the response includes `reportPublicId` for retrieval via `GET /api/v1/multichain/reports/{id}`.

        Client-side idempotency is not currently supported. Repeated or concurrent successful requests may be billed separately.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address: { type: string, description: "EVM address (0x...)" }
      responses:
        '200':
          description: Multi-chain scan result (auto-saved as a multi-chain report)
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportId: { type: string, description: 'Stable UUID for the auto-saved multi-chain report. Same value as `reportPublicId`.' }
                  reportPublicId: { type: string, description: 'Stable UUID for the auto-saved multi-chain report.' }
                  cached: { type: boolean, description: 'True when served from the 5-min user-scoped cache; the linked report still exists.' }
                  address: { type: string }
                  activeChains: { type: integer }
                  totalChains: { type: integer }
                  chains: { type: array, items: { type: object } }
        '410':
          description: Cached scan exists but the original report was deleted, or legacy cache without a report link. Re-run the scan to create a fresh report.
        '429':
          description: Insufficient credits to spend the required 5 credits. Quota gate runs before any external scan, so no charge has occurred.

  /api/v1/multichain/analyze:
    post:
      tags: [Multi-Chain]
      summary: Full multi-chain risk analysis
      description: |
        Run full risk analysis on each active network. Background job with progress polling. Returns composite risk score and per-network breakdown. Costs 5 check credits.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, networks]
              properties:
                address: { type: string }
                networks: { type: array, items: { type: string } }
      responses:
        '202':
          description: Analysis started
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportId: { type: integer }
                  status: { type: string, enum: [analyzing] }
                  cost: { type: integer, example: 5 }

  /api/v1/multichain/analyze/{reportId}:
    get:
      tags: [Multi-Chain]
      summary: Poll analysis progress
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      parameters:
        - name: reportId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Progress status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [analyzing, complete, failed] }
                  networks: { type: object }
                  compositeRiskScore: { type: integer }

  # ── AI Investigation ──────────────────────────────────
  /api/investigate:
    post:
      tags: [AI Investigation]
      summary: Start or continue AI investigation
      description: |
        Send a message to the AI investigation agent. Returns SSE stream with analysis steps, tool calls, and results. Costs 1 AI investigation credit (when creating new investigation).
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, maxLength: 5000 }
                investigationId: { type: integer, description: "Continue existing investigation" }
                reportId: { type: string, description: "Reference existing report" }
                byoKey: { type: string, description: "Bring-your-own Claude API key" }
      responses:
        '200':
          description: SSE stream of investigation events
          content:
            text/event-stream: {}

  /api/investigations:
    get:
      tags: [AI Investigation]
      summary: List investigations
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Paginated investigations list

  # ── Watchlist ─────────────────────────────────────────
  /api/watchlist:
    get:
      tags: [Watchlist]
      summary: List watchlist items
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Watchlist items with alert counts
    post:
      tags: [Watchlist]
      summary: Add address to watchlist
      description: |
        Monitor an address for new transactions. Alerts delivered via email, Telegram, or webhook. Checked every 5 minutes.
      security:
        - apiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network]
              properties:
                address: { type: string }
                network: { type: string }
                label: { type: string }
                threshold_value: { type: number, description: "Min value to alert" }
                notify_email: { type: boolean, default: true }
                notify_telegram: { type: boolean, default: false }
                notify_webhook: { type: boolean, default: false }
      responses:
        '201':
          description: Watchlist item created

  # ── API Keys ──────────────────────────────────────────
  /api/keys:
    get:
      tags: [API Keys]
      summary: List API keys
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: API keys (prefix only, not full key)
    post:
      tags: [API Keys]
      summary: Create API key
      description: Returns the full key only once. Store it securely.
      security:
        - apiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, default: "API Key" }
      responses:
        '200':
          description: New API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  key: { type: string, example: "ocr_live_abc123..." }
                  prefix: { type: string }

  /api/keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke API key
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Key revoked

  # ── Labels ────────────────────────────────────────────
  /api/labels:
    get:
      tags: [Labels]
      summary: List user custom labels
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: User labels
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    address: { type: string }
                    network: { type: string }
                    label: { type: string }
                    category: { type: string }
                    notes: { type: [string, 'null'] }
                    createdAt: { type: integer }
    post:
      tags: [Labels]
      summary: Create a custom label
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network, label, category]
              properties:
                address: { type: string }
                network: { type: string }
                label: { type: string, maxLength: 100 }
                category: { type: string }
                notes: { type: string, maxLength: 500 }
      responses:
        '201':
          description: Label created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }

  /api/labels/{id}:
    patch:
      tags: [Labels]
      summary: Update a label
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 100 }
                category: { type: string }
                notes: { type: string, maxLength: 500 }
      responses:
        '200': { description: Label updated }
        '404': { description: Label not found }
    delete:
      tags: [Labels]
      summary: Delete a label
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Label deleted }
        '404': { description: Label not found }

  /api/labels/import:
    post:
      tags: [Labels]
      summary: Bulk import labels
      description: Bulk-create labels. Duplicates (same address+network) are skipped.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [labels]
              properties:
                labels:
                  type: array
                  items:
                    type: object
                    required: [address, network, label, category]
                    properties:
                      address: { type: string }
                      network: { type: string }
                      label: { type: string }
                      category: { type: string }
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  imported: { type: integer }
                  skipped: { type: integer }

  /api/labels/export:
    get:
      tags: [Labels]
      summary: Export all user labels
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: JSON array of all user labels
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  # ── Notifications ─────────────────────────────────────
  /api/notifications/settings:
    get:
      tags: [Notifications]
      summary: Get notification settings
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Notification preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  email_enabled: { type: boolean }
                  telegram_enabled: { type: boolean }
                  telegram_chat_id: { type: [string, 'null'] }
                  webhook_url: { type: [string, 'null'] }
                  webhook_enabled: { type: boolean }
    patch:
      tags: [Notifications]
      summary: Update notification settings
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_enabled: { type: boolean }
                webhook_url: { type: string, format: uri }
                webhook_enabled: { type: boolean }
      responses:
        '200': { description: Settings saved }

  /api/notifications/test:
    post:
      tags: [Notifications]
      summary: Send test notification
      description: Sends a test alert through all enabled channels (email, telegram, webhook).
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Test dispatched
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: { type: string, enum: [sent, skipped, failed] }
                  telegram: { type: string, enum: [sent, skipped, failed] }
                  webhook: { type: string, enum: [sent, skipped, failed] }

  /api/notifications/telegram/connect:
    post:
      tags: [Notifications]
      summary: Connect Telegram chat
      description: Submit chat ID obtained by messaging the OnChainRisk bot with /start and copying the code it returns.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chatId]
              properties:
                chatId: { type: string }
      responses:
        '200': { description: Telegram linked }
        '400': { description: Invalid chat ID }

  /api/notifications/telegram/disconnect:
    post:
      tags: [Notifications]
      summary: Disconnect Telegram
      security:
        - apiKeyAuth: []
      responses:
        '200': { description: Telegram unlinked }

  # ── Watchlist (extra) ─────────────────────────────────
  /api/watchlist/{id}:
    patch:
      tags: [Watchlist]
      summary: Update watchlist item
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string }
                notify_email: { type: boolean }
                notify_telegram: { type: boolean }
                notify_webhook: { type: boolean }
                threshold_value: { type: number }
      responses:
        '200': { description: Item updated }
        '404': { description: Item not found }
    delete:
      tags: [Watchlist]
      summary: Remove from watchlist
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Item removed }

  /api/watchlist/{id}/alerts:
    get:
      tags: [Watchlist]
      summary: Alerts for a single watchlist item
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Paginated alerts for this item

  /api/alerts:
    get:
      tags: [Watchlist]
      summary: All alerts across user's watchlist
      security:
        - apiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: unread
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Paginated alerts

  # ── Graph ─────────────────────────────────────────────
  /api/graph/expand:
    post:
      tags: [Graph]
      summary: Expand graph counterparties for an address
      description: Fetches direct counterparties for the given address and returns nodes/edges to merge into the client graph. Costs 1 credit.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network]
              properties:
                address: { type: string }
                network: { type: string }
                depth: { type: integer, default: 1, maximum: 2 }
      responses:
        '200':
          description: Expanded subgraph
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodes: { type: array, items: { type: object } }
                  edges: { type: array, items: { type: object } }
                  creditsRemaining: { type: integer }

  /api/graph/csv-import:
    post:
      tags: [Graph]
      summary: Import CSV of transactions into a report graph
      description: Parses CSV (Etherscan-style export) and merges rows into the report's graph. Triggers full graph reboot in the UI.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reportId, csv]
              properties:
                reportId: { type: string }
                csv: { type: string, description: "Raw CSV text" }
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  rowsParsed: { type: integer }
                  nodesAdded: { type: integer }
                  edgesAdded: { type: integer }
        '400': { description: CSV parse error }


  # ── Sharing (public) ──────────────────────────────────
  /api/share/{token}:
    get:
      tags: [Sharing]
      summary: Public report view by share token
      description: No authentication required. Returns the report if the share link is active and not expired.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Public report data
        '404': { description: Share link not found or expired }

  /api/share/{token}/graph:
    get:
      tags: [Sharing]
      summary: Public graph view by share token
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Public graph data
        '404': { description: Share link not found or expired }

  # ── Saved Reports ─────────────────────────────────────
  /api/v1/token/reports:
    post:
      tags: [Saved Reports]
      summary: Save a token security report
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, network, reportData]
              properties:
                address: { type: string }
                network: { type: string }
                reportData: { type: object }
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
    get:
      tags: [Saved Reports]
      summary: List saved token reports
      security:
        - apiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated list

  /api/v1/block/reports:
    post:
      tags: [Saved Reports]
      summary: Save a block analysis (MEV) report
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockNumber, network, reportData]
              properties:
                blockNumber: { type: integer }
                network: { type: string }
                reportData: { type: object }
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
    get:
      tags: [Saved Reports]
      summary: List saved block reports
      security:
        - apiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated list

  /api/v1/multichain/reports:
    post:
      tags: [Saved Reports]
      summary: Save a multi-chain wallet report
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, reportData]
              properties:
                address: { type: string }
                reportData: { type: object }
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
    get:
      tags: [Saved Reports]
      summary: List saved multi-chain reports
      security:
        - apiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated list

  # ── MEV ───────────────────────────────────────────────
  /api/v1/mev/bots:
    get:
      tags: [MEV]
      summary: List known MEV bots and their recent stats
      security:
        - apiKeyAuth: []
      parameters:
        - name: network
          in: query
          schema: { type: string, default: eth }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        '200':
          description: MEV bot list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    address: { type: string }
                    network: { type: string }
                    label: { type: [string, 'null'] }
                    sandwiches_7d: { type: integer }
                    profit_usd_7d: { type: number }

  /api/v1/mev/stats:
    get:
      tags: [MEV]
      summary: Aggregate MEV statistics
      security:
        - apiKeyAuth: []
      parameters:
        - name: network
          in: query
          schema: { type: string }
        - name: period
          in: query
          schema: { type: string, enum: [24h, 7d, 30d], default: 7d }
      responses:
        '200':
          description: Aggregate stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  network: { type: string }
                  period: { type: string }
                  totalSandwiches: { type: integer }
                  totalArbitrage: { type: integer }
                  totalFlashLoans: { type: integer }
                  extractedUsd: { type: number }

  /api/v1/mev/scan/trigger:
    post:
      tags: [MEV]
      summary: Trigger manual MEV scan for a network
      description: Kicks off the MEV aggregation cron job on demand. Rate-limited.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [network]
              properties:
                network: { type: string }
      responses:
        '202':
          description: Scan queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId: { type: string }
                  status: { type: string, enum: [queued] }
        '429': { description: Rate-limited }

  # ── AI Investigation (extra) ──────────────────────────
  /api/investigations/{id}:
    get:
      tags: [AI Investigation]
      summary: Get investigation detail
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Full investigation with messages and tool calls
        '404': { description: Not found }

  /api/investigations/{id}/archive:
    post:
      tags: [AI Investigation]
      summary: Archive investigation
      description: Soft-delete. Hides from default list but preserves data.
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Archived }
        '404': { description: Not found }

  # ── Support ───────────────────────────────────────────
  /api/support/tickets:
    post:
      tags: [Support]
      summary: Open a support ticket
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, description, category]
              properties:
                subject: { type: string, maxLength: 200 }
                description: { type: string, maxLength: 10000 }
                category: { type: string, enum: [billing, bug, feature, general, security] }
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  status: { type: string, enum: [open, pending, resolved, closed] }
    get:
      tags: [Support]
      summary: List user's tickets
      security:
        - apiKeyAuth: []
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [open, pending, resolved, closed] }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated tickets

components:
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      description: API key (create at https://onchainrisk.io/dashboard/api-keys)

  responses:
    ValidationFailed:
      description: |
        Address failed validation before any scan was performed. HTTP status
        is **422** with envelope `{ success: false, error: ErrorResponse }`.
        `error.details.errorCode` carries the granular reason.
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error: { $ref: '#/components/schemas/ErrorResponse' }
          examples:
            address-network-mismatch:
              summary: Tron address submitted with network=eth
              value:
                success: false
                error:
                  message: "Validation failed"
                  code: "VALIDATION_ERROR"
                  details:
                    address: "Address format does not match selected network. The address looks like a tron address, but network was set to eth."
                    errorCode: "ADDRESS_NETWORK_MISMATCH"
                    detectedFamily: "tron"
                    requestedNetwork: "eth"
            invalid-address:
              summary: Whitespace-only address
              value:
                success: false
                error:
                  message: "Validation failed"
                  code: "VALIDATION_ERROR"
                  details:
                    address: "Address is required."
                    errorCode: "INVALID_ADDRESS"
            unsupported-network:
              summary: network=Ethereum (not in whitelist)
              value:
                success: false
                error:
                  message: "Validation failed"
                  code: "VALIDATION_ERROR"
                  details:
                    address: "Unsupported network 'ethereum'. Supported: arbitrum, avalanche, base, bsc, btc, cardano, celo, cosmos, cronos, eth, fantom, linea, ltc, moonbeam, optimism, polygon, polygon_zkevm, scroll, sol, ton, tron, xrp, zksync."
                    errorCode: "UNSUPPORTED_NETWORK"
                    requestedNetwork: "ethereum"
            could-not-detect-network:
              summary: Unrecognisable address, no network hint
              value:
                success: false
                error:
                  message: "Validation failed"
                  code: "VALIDATION_ERROR"
                  details:
                    address: "Could not detect network from address format. Please specify the network parameter."
                    errorCode: "COULD_NOT_DETECT_NETWORK"
            invalid-address-checksum:
              summary: Tron-shaped string with bad Base58Check
              value:
                success: false
                error:
                  message: "Validation failed"
                  code: "VALIDATION_ERROR"
                  details:
                    address: "Address failed tron checksum validation."
                    errorCode: "INVALID_ADDRESS_CHECKSUM"
                    detectedFamily: "tron"
                    requestedNetwork: "tron"

  schemas:
    ErrorResponse:
      type: object
      description: |
        Stable error envelope for validation and business-rule failures.
        The shape mirrors the live Worker response:

        ```json
        { "success": false, "error": ErrorResponse }
        ```

        Required fields (`code` + `message`) are always populated; `details`
        carries structured diagnostic context and is present on validation
        failures. Clients should treat unknown fields as additive
        (no `additionalProperties: false`).
      required: [code, message]
      properties:
        code:
          type: string
          description: Outer envelope code. Always `VALIDATION_ERROR` for the validation family.
          enum:
            - VALIDATION_ERROR
        message:
          type: string
          description: Short, stable human-readable summary.
        details:
          type: object
          description: |
            Granular context. For validation failures the shape below is stable;
            for other error classes the Worker may return different keys.
          properties:
            address:
              type: string
              description: Human-readable reason specific to the failing address.
            errorCode:
              type: string
              description: |
                Granular validation reason. Stable machine-readable code.

                  - `INVALID_ADDRESS` — empty, wrong format, whitespace-only.
                  - `UNSUPPORTED_NETWORK` — `network` not in the supported list.
                  - `COULD_NOT_DETECT_NETWORK` — address format unrecognised and `network` omitted.
                  - `INVALID_ADDRESS_CHECKSUM` — decode succeeded, family checksum failed (Tron / BTC-legacy / LTC-legacy). Solana decode failures surface as `INVALID_ADDRESS` because Solana is not checksum-based.
                  - `ADDRESS_NETWORK_MISMATCH` — detected family inconsistent with requested `network`.
              enum:
                - INVALID_ADDRESS
                - UNSUPPORTED_NETWORK
                - COULD_NOT_DETECT_NETWORK
                - INVALID_ADDRESS_CHECKSUM
                - ADDRESS_NETWORK_MISMATCH
            detectedFamily:
              type: [string, 'null']
              description: |
                Address family detected from the input. Null when the format
                was unrecognisable. ENS names are resolved through a legacy
                path and are intentionally not part of the strict family
                contract documented here.
            requestedNetwork:
              type: [string, 'null']
              description: Normalized network string from the request, if any.

    AnalysisResult:
      type: object
      properties:
        address: { type: string }
        network: { type: string }
        riskScore: { type: integer, minimum: 0, maximum: 100, nullable: true, description: "Null while async scan is queued/analyzing." }
        riskLevel: { type: string, enum: [critical, high, medium, low], nullable: true }
        reportId: { type: string, format: uuid }
        status:
          $ref: '#/components/schemas/ReportStatus'
        errorMessage:
          type: string
          nullable: true
          description: Populated when `status='failed'`.
        createdAt:
          type: string
          format: date-time
          description: Initial creation timestamp of this report row.
        addressInfo:
          type: object
          properties:
            type: { type: string, enum: [eoa, contract, smart_contract, unknown], description: "Address type. `contract` and `smart_contract` are aliases — both mean a deployed contract; clients should treat them equivalently." }
            balance: { type: string, example: "1.5 ETH" }
            balanceUsd: { type: number, nullable: true, example: 3045.50 }
            nativePriceUsd: { type: number, nullable: true, example: 2030.33 }
            txCount: { type: integer }
            firstSeen: { type: string, nullable: true }
            lastSeen: { type: string, nullable: true }
        patternFlags: { type: array, items: { type: string }, example: ["TRANSIT_WALLET", "KNOWN_MIXER"] }
        topCounterparties:
          type: array
          items:
            type: object
            properties:
              address: { type: string }
              label: { type: string, nullable: true }
              category: { $ref: '#/components/schemas/CategoryEnum' }
              txCount: { type: integer }
              totalValue: { type: string }
              inbound: { type: boolean }
        addressConnections:
          type: array
          description: |
            Aggregated counterparty category breakdown by total interaction volume (inbound + outbound)
            across up to 30 counterparties returned by the analyzer. Percentages rounded to 1 decimal,
            sum may be 99.0–101.0 due to rounding.
          items:
            $ref: '#/components/schemas/AddressConnection'
          example:
            - category: exchange
              percentage: 64.0
              valueFormatted: "15,000 TRX"
              valueRaw: "15000000000"
              unit: sun
            - category: sanctioned
              percentage: 23.9
              valueFormatted: "5,600 TRX"
              valueRaw: "5600000000"
              unit: sun
            - category: unknown
              percentage: 12.1
              valueFormatted: "2,835 TRX"
              valueRaw: "2835000000"
              unit: sun
        fundedBy:
          type: object
          nullable: true
          properties:
            address: { type: string }
            label: { type: string, nullable: true }
            txHash: { type: string }
            timestamp: { type: integer }
            value: { type: string }
        timing: { type: object, nullable: true }
        crossChain: { type: object, nullable: true }
        exchangeDeposits: { type: object, nullable: true }
        defiSwaps: { type: object, nullable: true }
        nftWashTrading: { type: object, nullable: true }
        osintIntelligence: { type: object, nullable: true }
        tokenFlow: { type: object, nullable: true }
        contractAnalysis:
          $ref: '#/components/schemas/ContractAnalysis'
        contractInfo:
          $ref: '#/components/schemas/ContractInfo'
        dataCompleteness:
          $ref: '#/components/schemas/DataCompleteness'
        honeypot: { type: object, nullable: true }
        railgun: { type: object, nullable: true }
        clusters: { type: object, nullable: true }
        usdPrices: { type: object, nullable: true }
        tokenTransferSupported: { type: boolean, nullable: true, description: "Whether token transfer data is available for this network" }
        tokenFlowIncomplete: { type: boolean, nullable: true, description: "True if token flow data is partial due to API failures" }
        walletArchetype: { type: string, nullable: true, enum: [automated, distribution, exchange_like, mev_like, unclassified], description: "SOL wallet behavior classification" }
        partialReason:
          type: string
          nullable: true
          enum: [timeout, limit_cap, limit_cap_assumed, api_error, btc_tx_count_exceeds_full_fetch_limit, ltc_tx_count_exceeds_full_fetch_limit, heavy_contract_overview]
          description: |
            Reason for partial transaction data. Mirrors `dataCompleteness.partialReason` for clients
            that only inspect the top level. `heavy_contract_overview` indicates the address is a
            deployed contract with `txCount >= 50000` and the analyzer returned bytecode-level
            metadata only — full transaction-level tracing is not available for this contract.
        analysisTime: { type: integer, description: "Milliseconds" }
        timestamp: { type: string, format: date-time }

    ReportStatus:
      type: string
      description: |
        Lifecycle of an async report:
          `queued`    — POST /check accepted; consumer worker has not picked it up yet.
          `analyzing` — consumer started; partial fields may exist.
          `complete`  — analysis written; full result available via GET /check/{address}.
          `failed`    — terminal error; `errorMessage` populated.
      enum: [queued, analyzing, complete, failed]

    AsyncQueuedResponse:
      type: object
      description: |
        202 response from POST /api/v1/check when the analysis takes the async
        path (heavy address). The reportId is stable across the in-flight window —
        a deduplicated retry returns the same id with `deduplicated: true`.
      required: [success, data]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [reportId, status, async]
          properties:
            reportId:
              type: string
              format: uuid
              description: Public id of the queued report. Use with /api/v1/check/status/{reportId}.
            status:
              type: string
              enum: [queued]
              description: Initial status — always `queued` at the 202 boundary.
            async:
              type: boolean
              enum: [true]
              description: Discriminator. Always true on this response.
            deduplicated:
              type: boolean
              description: |
                True when this 202 returned the existing in-flight report's id
                instead of creating a new one. Within a 30-minute window, repeat
                POSTs for the same `(api-key, address, network)` are idempotent
                and don't create new charges or queue jobs.

    ScanStatus:
      type: object
      description: |
        Polling response from GET /api/v1/check/status/{reportId}. Lightweight
        summary safe to poll every ~5 seconds. Once `status === 'complete'`,
        the full report is available via GET /api/v1/check/{address}.
      required: [reportId, status]
      properties:
        reportId: { type: string, format: uuid }
        status:
          $ref: '#/components/schemas/ReportStatus'
        phase:
          type: string
          nullable: true
          description: |
            Free-form phase label set by the consumer worker while
            `status='analyzing'` (e.g. `fetching_transactions`). Cleared
            (`null`) on completion. Treat as observability hint, not API.
        errorMessage:
          type: string
          nullable: true
          description: Populated when `status='failed'`.
        riskScore:
          type: integer
          nullable: true
          minimum: 0
          maximum: 100
          description: Set when `status='complete'`. `null` otherwise.
        riskLevel:
          type: string
          nullable: true
          enum: [critical, high, medium, low]
        queuedAt:    { type: string, format: date-time, nullable: true }
        startedAt:   { type: string, format: date-time, nullable: true }
        finishedAt:  { type: string, format: date-time, nullable: true }

    ContractAnalysis:
      type: object
      nullable: true
      description: |
        Contract bytecode analysis. Returned for deployed contracts (`addressInfo.type` =
        `contract` or `smart_contract`); `null` for EOAs and addresses with no bytecode.

        **Stable shape contract** — `similarityFlags` and `knownSignatures` are always
        arrays (possibly empty). For heavy contracts (`txCount >= 50000`) the analyzer
        returns a minimal object with bytecode metadata only; backend normalizes the
        shape so consumers can rely on these fields existing without runtime guards.
      properties:
        contractName: { type: string, nullable: true, example: "Router" }
        bytecodeSize:
          type: integer
          nullable: true
          description: "Bytecode length in bytes. `null` when unknown — clients should render `Unknown`, never `0`."
          example: 6177
        compilerVersion: { type: string, nullable: true, example: "v0.8.16+commit.07a7930e" }
        deployer: { type: string, nullable: true, example: "0xabc..." }
        isVerified: { type: boolean, example: true }
        hasSelfdestruct: { type: boolean }
        hasDelegatecall: { type: boolean }
        hasCreate2: { type: boolean }
        similarityFlags:
          type: array
          items: { type: string }
          description: "Pattern matches against known exploit fingerprints. Empty array when none."
        knownSignatures:
          type: array
          items: { type: string }
          description: "Decoded function signatures recognized in bytecode. Empty array when none."

    ContractInfo:
      type: object
      nullable: true
      description: "Deployment + proxy metadata. Distinct from `contractAnalysis` (bytecode analysis)."
      properties:
        deployer: { type: string, nullable: true }
        creationTx: { type: string, nullable: true }
        creationBlock: { type: integer, nullable: true }
        isProxy:
          type: boolean
          description: "True when the contract is a proxy (EIP-1967 / minimal proxy / etc.) verified against on-chain implementation slot. Inferred-only fallbacks are NOT reflected here."
        implementationAddress: { type: string, nullable: true, description: "Set when `isProxy` is true and the implementation is resolvable." }
        contractName: { type: string, nullable: true }

    DataCompleteness:
      type: object
      nullable: true
      description: "Transaction fetch completeness signals. Drives partial-data UX and `heavy_contract_overview` marker."
      properties:
        reportedTxCount: { type: integer, description: "Total tx count as reported by chain stats / explorer." }
        fetchedTxCount: { type: integer, description: "Number of transactions actually parsed end-to-end." }
        completenessPct: { type: number, nullable: true, description: "100 × fetched / reported, rounded; `null` if reported is 0." }
        partialReason:
          type: string
          nullable: true
          enum: [timeout, limit_cap, limit_cap_assumed, api_error, btc_tx_count_exceeds_full_fetch_limit, ltc_tx_count_exceeds_full_fetch_limit, heavy_contract_overview]
          description: |
            Why the data is partial. `heavy_contract_overview` is set automatically when the
            address is a deployed contract with `txCount >= 50000` AND the analyzer returned
            a minimal contract metadata shape (bytecode only). UIs should show "overview only"
            copy in this case rather than treating absence of activity as no-activity.

    CategoryEnum:
      type: string
      description: Counterparty category from label database
      enum:
        - exchange
        - dex
        - defi
        - bridge
        - otc
        - mev_bot
        - instant_exchange
        - phishing
        - mixer
        - scam
        - exploit
        - sanctioned
        - frozen
        - custodian
        - fiat_ramp
        - payment_processor
        - unknown

    AddressConnection:
      type: object
      description: Aggregated interaction volume for a single counterparty category
      required: [category, percentage, valueFormatted, valueRaw, unit]
      properties:
        category:
          $ref: '#/components/schemas/CategoryEnum'
        percentage:
          type: number
          description: "Percentage of total interaction volume (0.0–100.0)"
          example: 64.0
        valueFormatted:
          type: string
          description: "Human-readable value with network unit (display-only)"
          example: "15,000 TRX"
        valueRaw:
          type: string
          description: "Raw value in network base units (wei, sun, satoshi, etc.) for programmatic use"
          example: "15000000000"
        unit:
          type: string
          description: "Base unit name for the network (wei, sun, satoshi, lovelace, etc.)"
          example: "sun"

    GraphSnapshot:
      type: object
      description: Graph snapshot metadata (no graphData payload)
      required: [id, reportId, name, nodeCount, edgeCount, createdAt, updatedAt]
      properties:
        id: { type: integer, example: 42 }
        reportId: { type: string, description: "Report public_id" }
        name: { type: string, maxLength: 100, example: "After expanding counterparties" }
        description: { type: string, nullable: true, maxLength: 500 }
        nodeCount: { type: integer, description: "Computed server-side from graphData.nodes" }
        edgeCount: { type: integer, description: "Computed server-side from graphData.edges" }
        createdAt: { type: integer, description: "Unix timestamp (seconds)" }
        updatedAt: { type: integer, description: "Unix timestamp (seconds)" }

    GraphSnapshotFull:
      allOf:
        - $ref: '#/components/schemas/GraphSnapshot'
        - type: object
          required: [graphData]
          properties:
            graphData:
              type: object
              required: [nodes, edges]
              properties:
                nodes: { type: array, items: { type: object } }
                edges: { type: array, items: { type: object } }
